@model IEnumerable<AmsBooking.Models.Entities.Category>

@{
ViewData["Title"] = "Listar Categoria";
}

<div class="container">
    <h1 class="my-4">Listar Categoria</h1>

    <div class="mb-3">
    </div>

    <div class="table-responsive">
        <table id="myTable" class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Descrição</th>
                <th>Imagem</th>
                <th>Está Ativo</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Description</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                    <img src="~/@item.ImageUrl" alt="@item.Description" class="img-thumbnail" style="max-width: 150px; height: auto;" />
                    }
                    else
                    {
                    <span>No Image</span>
                    }
                </td>
                <td>@(item.IsActive ? "Yes" : "No")</td>

            </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        var table = new DataTable('#myTable', {
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.7/i18n/pt-BR.json',
            },
        });
    </script>

}
